<div ng-contrrler="TripSummaryController as tripSummaryCtrl" layout="column" layout-fill>

  <md-toolbar>
    <div class="md-toolbar-tools toolbar-background">
      <a ui-sref="search_result" class="toolbar-back-button">
        <ng-md-icon icon="chevron_left" size="35px" class="white-text"></ng-md-icon>
      </a>
      <div class="white-text toolbar-title">
        Tirp Summary
      </div>
      <span flex></span>
      <a ui-sref="" class="bold-text white-text toolbar-title">
       Checkout
      </a>
    </div>
  </md-toolbar>
  <md-content flex class="trip-summary-container">

    <div layout-wrap>
      <h4 class="title-bg-margin">Direction & Departure</h4>
    </div>
    <div layout="row" layout-wrap class="text-margin-left">
      <div flex="100">
        <ng-md-icon icon="location_on"></ng-md-icon>
        <span class="bold-text direction-content">
          Phnom Penh <ng-md-icon class="bold-text" icon="arrow_forward"></ng-md-icon> Siem Reap
        </span>
      </div>
      <div flex="100" class="text-margin-top">
        <ng-md-icon icon="access_time"></ng-md-icon>
        <span class="bold-text">
          Thu 21 Jan, 7:00 AM
        </span>
      </div>
    </div>

    <div layout-wrap >
      <h4 class="title-bg-margin">Operator & Vehicle Type</h4>
    </div>
    <div layout="row" layout-wrap class="text-margin-left">
      <div flex="100">
        <ng-md-icon icon="supervisor_account"></ng-md-icon>
        <span class="bold-text">Bunnarith Express</span>
      </div>
      <div flex="100" class="text-margin-top">
        <ng-md-icon icon="directions_bus"></ng-md-icon>
        <span class="bold-text">van 100</span>
      </div>
    </div>

    <div layout-wrap >
      <h4 class="title-bg-margin">Seat & Passenger</h4>
    </div>
    <div class="text-margin-left">
      <div layout ="row ">
        <span flex="50">Total Seat:</span>
        <span flex="50" class="bold-text" >2</span>
      </div>
      <div layout ="row" class="text-margin-top">
        <span flex="50" >Cambodian passenger:</span><span flex="50" class="bold-text" >20$</span>
      </div>
      <div layout ="row " class="text-margin-top">
        <span flex="50" >Non-Cambodian passenger:</span><span flex="50" class="bold-text" >0</span>
      </div>
    </div>

    <div layout-wrap >
      <h4 class="title-bg-margin">Boarding and Drop-off Point</h4>
        <div layout="row" class="info-container">
          <div flex="10" layout="column">
            <div flex="1" class="boarding-icon"><ng-md-icon icon="panorama_fisheye"></ng-md-icon></div>
            <div flex class="boarding-dropoff-line"></div>
            <div flex="1" class="dropoff-icon"><ng-md-icon icon="lens"></ng-md-icon></div>
          </div>
          <div flex="90" layout="column">
            <div flex="30" layout="row" layout-wrap class="boarding-dropoff-container">
              <div flex="100" class="bold-text">Boarding point</div>
              <div flex="100" class="boarding-dropoff">
                #59Eoz, St. Paster (51), Sangkat Phsar Thmei 3, Khan Doun Penh, Phnom Penh City, Kingdom of Cambodia.
              </div>
              <div flex="100" class="boarding-dropoff">
                <a ng-click="showMap()">
                  <ng-md-icon icon="location_on" class="boarding-dropoff-icon"></ng-md-icon> View on map
                </a>
              </div>
            </div>

            <div flex></div>

            <div flex="30" layout="row" layout-wrap class="boarding-dropoff-container">
              <div flex="100" class="bold-text">Drop-off point</div>
              <div flex="100" class="boarding-dropoff">
                National Road No.6, Phum Chong Kaosou, S.K Srokram, Siem Reap, Kingdom of Cambodia (Next to Lucky Angkor Hotel)
              </div>
              <div flex="100" class="boarding-dropoff">
                <a ng-click="showMap()">
                  <ng-md-icon icon="location_on" class="boarding-dropoff-icon"></ng-md-icon> View on map
                </a>
              </div>
            </div>
          </div>
        </div>
    </div>
    <boarding-drop-off-points boarding-drop-off="tripSummaryCtrl.routeInfo" show-map="tripSummaryCtrl.openMapDialog()">
    </boarding-drop-off-points>

    <div layout-wrap >
      <h4 class="title-bg-margin">Price</h4>
    </div>
    <div class="text-margin-left">
      <div layout="row" >
        <span flex="50">Sub Total:</span><span flex="50"class="bold-text">22</span>
      </div>
      <div layout="row" class="text-margin-top">
        <span flex="50">Discount:</span><span flex="50" class="bold-text" >$0.00</span>
      </div>
      <div layout="row"  class="text-margin-top">
        <span flex="50">Total:</span><span flex="50" class="bold-text">22</span>
      </div>
      <div class="trip-summary-info-container">
        <md-input-container class="request-ticket-input promotional-code-container">
          <label><ng-md-icon icon="local_offer"></ng-md-icon> Promotional Code</label>
          <input type="text" />
        </md-input-container>
      </div>
    </div>
  </md-content>

</div>