<div layout="column" layout-fill ng-controller="SelectSeatController as selectSeatCtrl">
  <div class="content-container">

    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <a ui-sref="select_route_detail" class="toolbar-back-button">
          <ng-md-icon icon="chevron_left" size="35px" class="white-text"></ng-md-icon>
        </a>

        <span flex></span>
        <a ui-sref="passenger_detail" class="white-text bold-text" style="font-size: 17px">Next</a>
      </div>
    </md-toolbar>

    <md-content flex layout-wrap id="seat-selection-container">
      <selected-route-detail selected-route="selectSeatCtrl.selectedRouteInfo"></selected-route-detail>

      <!-- Seat Note -->
      <div class="seat-note">
        <span>
          <div class="seat-circle">
          </div>
          <p class="seat-note-label">Available</p>
        </span>
        <span>
          <div class="seat-circle busy-seat">
          </div>
          <p class="seat-note-label">Busy</p>
        </span>
        <span>
          <div class="seat-circle booked-seat">
          </div>
          <p class="seat-note-label">Booked</p>
        </span>
        <span>
          <div class="seat-circle selected-seat">
          </div>
          <p class="seat-note-label">Selected</p>
        </span>
      </div>

      <div layout="row" layout-wrap layout-align="center center" class="seat-layout">
        <div>
          <div ng-repeat="row in selectSeatCtrl.rows">
            <div class="row" layout-wrap>
              <span ng-repeat="col in selectSeatCtrl.cols">
                <span ng-if="selectSeatCtrl.hasSeat(row, col) == true">
                  <div ng-if="selectSeatCtrl.currentSeat.status == 'busy'" class="seat-circle busy-seat box-shadow">
                    <div class="seat-label">{{ selectSeatCtrl.currentSeat.label }}</div>
                  </div>
                  <div ng-if="selectSeatCtrl.currentSeat.status == 'booked' || selectSeatCtrl.currentSeat.status == 'pending' || selectSeatCtrl.currentSeat.status == 'locked'" class="seat-circle booked-seat box-shadow">
                    <div class="seat-label">{{ selectSeatCtrl.currentSeat.label }}</div>
                  </div>
                  <div ng-if="selectSeatCtrl.currentSeat.status == 'available'" ng-click="selectSeatCtrl.selectSeat($event)"
                       class="seat-circle available-seat box-shadow">
                    <div class="seat-label">{{ selectSeatCtrl.currentSeat.label }}</div>
                  </div>
                </span>

                <span ng-if="selectSeatCtrl.hasSeat(row, col) == false">
                  <div ng-if="row != 0 || col != 0" class="blank-seat"></div>
                  <span ng-if="row == 0 && col == 0">
                    <div class="driver-seat"></div>
                  </span>
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </md-content>
  </div>
</div>