.search-result-header{
  font-size: 70%;
  margin-top: 4px;
}

.content-container{
  height: 99vh;
}

.routes-container{
  height: 100%;
  margin-bottom: 15px !important;
}

.search-result-price{
  margin-top: 0px;
}

.price{
  color: #009901;
  font-weight: bold;
  font-size: 20px;
  margin-left: 5px;
}

.more-detail-button{
  padding-top: 30px;
  text-align:right;
}

.suggested-routes, .no-result-message{
  padding: 10px;
  line-height: 20px;
}

.search-result-list-item{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  border-bottom: 1px solid #ECECEC;
}