.search-result-header{
  font-size: 70%;
  margin-top: 4px;
}

.content-container{
  height: 99vh;
}

.routes-container{
  height: 100%;
}

.route-container{
  margin-top: 10px;
}

.operator-logo {
  max-width: 100px;
  max-height: 100px;
  margin-top: 10px;
}

.route-info-container{
  margin-left: -6px;
  margin-right: -6px;
  padding-bottom: 10px;
}

.operator-logo-container, .price-container{
  height: 35px;
}

.price-container{
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 15px;
}

.price{
  color: #009901;
  font-size: 100%;
}

.more-detail-button{
  padding-top: 30px;
  text-align:right;
}

.bus-type{
  font-size: 90%;
  text-align: left;
  margin-top: 8px;
}

.bus-icon{
  margin-top: 5px;
}

.departure-time, .arrival-time{
  font-weight: bold;
  font-size: 90%;
  text-align: center;
  margin-top: 15px;
}

.travel-duration{
  text-align: right;
  font-size: 95%;
  margin-top: 15px;
}

.route-message{
  font-size: 85%;
  padding-top: 5px;
}

.suggested-routes{
  padding: 10px;
  line-height: 20px;
}