<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bookmebus.bookmebus" version="0.0.6" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BookMeBus</name>
    <description>
      Easiest way to find book bus ticket for your travel in Phnom Penh, Bangkok, Siem reap, Sihanoukville, Pakse, and Hochi minh.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="ShowSplashScreenSpinner" value="true" />
    <preference name="EnableViewportScale" value="false" />
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <icon src="www/img/app_icon/icon.png" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="ldpi" src="www/img/app_icon/Icon-ldpi.png" />
        <icon density="mdpi" src="www/img/app_icon/Icon-mdpi.png" />
        <icon density="hdpi" src="www/img/app_icon/Icon-hdpi.png" />
        <icon density="xhdpi" src="www/img/app_icon/Icon-xhdpi.png" />
        <splash density="land-hdpi" src="www/img/screen/android/drawable-hdpi/splash.png" />
        <splash density="land-ldpi" src="www/img/screen/android/drawable-ldpi/splash.png" />
        <splash density="land-mdpi" src="www/img/screen/android/drawable-mdpi/splash.png" />
        <splash density="land-xhdpi" src="www/img/screen/android/drawable-xhdpi/splash.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon height="180" src="www/img/app_icon/Icon-60@3x.png" width="180" />
        <icon height="60" src="www/img/app_icon/Icon-60.png" width="60" />
        <icon height="120" src="www/img/app_icon/Icon-60@2x.png" width="120" />
        <icon height="76" src="www/img/app_icon/Icon-76.png" width="76" />
        <icon height="152" src="www/img/app_icon/Icon-76@2x.png" width="152" />
        <icon height="40" src="www/img/app_icon/Icon-40.png" width="40" />
        <icon height="80" src="www/img/app_icon/Icon-40@2x.png" width="80" />
        <icon height="120" src="www/img/app_icon/Icon-40@3x.png" width="120" />
        <icon height="72" src="www/img/app_icon/Icon-72.png" width="72" />
        <icon height="144" src="www/img/app_icon/Icon-72@2x.png" width="144" />
        <icon height="29" src="www/img/app_icon/Icon-Small.png" width="29" />
        <icon height="58" src="www/img/app_icon/Icon-Small@2x.png" width="58" />
        <icon height="87" src="www/img/app_icon/Icon-Small@3x.png" width="87" />
        <icon height="40" src="www/img/app_icon/Icon-Small-40.png" width="40" />
        <icon height="80" src="www/img/app_icon/Icon-Small-40@2x.png" width="80" />
        <icon height="120" src="www/img/app_icon/Icon-Small-40@3x.png" width="120" />
        <icon height="50" src="www/img/app_icon/Icon-Small-50.png" width="50" />
        <icon height="100" src="www/img/app_icon/Icon-Small-50@2x.png" width="100" />
        <splash height="480" src="www/img/screen/ios/Default.png" width="320" />
        <splash height="960" src="www/img/screen/ios/Default@2x.png" width="680" />
        <splash height="1004" src="www/img/screen/ios/Default-Portrait.png" width="768" />
        <splash height="2008" src="www/img/screen/ios/Default-Portrait@2x.png" width="1536" />
        <splash height="1024" src="www/img/screen/ios/Default-Portrait-1024h.png" width="768" />
        <splash height="2048" src="www/img/screen/ios/Default-Portrait-2048h.png" width="1536" />
        <splash height="768" src="www/img/screen/ios/Default-Landscape.png" width="1024" />
        <splash height="1536" src="www/img/screen/ios/Default-Landscape@2x.png" width="2048" />
        <splash height="1536" src="www/img/screen/ios/Default-Landscape-1536h.png" width="2048" />
        <splash height="768" src="www/img/screen/ios/Default-Landscape-768h.png" width="1024" />
        <splash height="1136" src="www/img/screen/ios/Default-568h@2x.png" width="640" />
    </platform>
    <plugin name="cordova-plugin-splashscreen" spec="~3.2.1" />
    <engine name="ios" spec="~4.1.1" />
    <plugin name="cordova-plugin-facebook4" spec="~1.7.0">
        <variable name="APP_ID" value="578057442333046" />
        <variable name="APP_NAME" value="staging.bookmebus.com" />
    </plugin>
</widget>
