<div ng-controller="TicketSearchController as search">

  <md-toolbar>
    <div class="md-toolbar-tools">
      <a ui-sref="main" class="toolbar-back-button">
        <ng-md-icon icon="chevron_left" size="35px" class="white-text"></ng-md-icon>
      </a>
      <div class="white-text">
        Search Ticket
      </div>
    </div>
  </md-toolbar>

  <div flex layout="row" layout-padding layout-wrap layout-align="center start" class="ticket-search-container">

    <div flex="10" class="ticket-search-icon">
      <div class="search-boarding-icon"><ng-md-icon icon="panorama_fisheye" class="boarding-dropoff-icon"></ng-md-icon></div>
      <div class="ticket-search-boarding-dropoff-line"></div>
      <div class="search-dropoff-icon"><ng-md-icon icon="lens" class="boarding-dropoff-icon"></ng-md-icon></div>
    </div>

    <div flex="90" layout="row" layout-wrap class="ticket-search-input-container">
      <md-autocomplete md-selected-item="search.selectedOrigin"
                       md-search-text="search.params.from"
                       md-items="origin in search.origins()"
                       md-item-text="origin.attributes.name"
                       md-min-length='0'
                       placeholder="Origin" flex="100">
        <md-item-template>
          <span md-highlight-text="searchOrigin">{{origin.attributes.name}}</span>
        </md-item-template>

        <md-not-found>
          No matches found.
        </md-not-found>
      </md-autocomplete>

      <div ng-click='search.swapLocation()' class="search-ticket-swap-icon">
        <ng-md-icon icon="swap_vert_circle"></ng-md-icon>
      </div>

      <md-autocomplete md-selected-item="search.selectedDestination"
                       md-search-text="search.params.to"
                       md-items="destination in search.destinations()"
                       md-item-text="destination.attributes.name"
                       md-min-length='0'
                       placeholder="Destination" flex="100">
        <md-item-template>
          <span md-highlight-text="searchDestination">{{destination.attributes.name}}</span>
        </md-item-template>

        <md-not-found>
          No matches found.
        </md-not-found>
      </md-autocomplete>

    </div>

    <p> </p>

    <div flex="100" class="ticket-search-date">
      <md-datepicker ng-model="search.params['on_date']"
                     md-min-date="search.config.minDate"
                     md-placeholder="Enter date">
      </md-datepicker>
    </div>

    <div flex="100" class="ticket-search-button">
      <md-button ng-click="search.findTickets()" class="md-raised md-primary white-text bold-text btn-search">
        <ng-md-icon icon="search" class="white-text"></ng-md-icon>Find Tickets
      </md-button>
    </div>
  </div>

</div>
