<div ng-controller="SelectRouteDetailController as selectRouteCtrl" layout="column" layout-fill>

  <div class="content-container" style="height: 99vh">
    <md-toolbar md-scroll-shrink>
      <div class="md-toolbar-tools">
        <a ui-sref="search_result" class="toolbar-back-button">
          <ng-md-icon icon="chevron_left" size="35px" class="white-text"></ng-md-icon>
        </a>
        <span flex></span>
        <a ui-sref="select_seat" class="bold-text white-text booknow-link">
          Book Now
        </a>
      </div>
    </md-toolbar>

    <md-content class="select-route-detail-container">

      <div layout="row" layout-wrap class="detail-title">
        <div flex="100" class="bold-text departure-title">
          Phnom Penh <ng-md-icon icon="arrow_forward"></ng-md-icon> Siem Reap
        </div>
        <div flex="100">Thero Express</div>

        <div flex="50" class="departure-date-label">
          7:00 AM
        </div>
        <div flex></div>
        <div flex"50" class="bold-text success-text">
          USD 12.00 - 13.00
        </div>
      </div>

      <div layout="row" class="info-container">
        <div flex="10" layout="column">
          <div flex="1" class="boarding-icon"><ng-md-icon icon="panorama_fisheye"></ng-md-icon></div>
          <div flex class="boarding-dropoff-line"></div>
          <div flex="1" class="dropoff-icon"><ng-md-icon icon="lens"></ng-md-icon></div>
        </div>
        <div flex="90" layout="column">
          <div flex="30" layout="row" layout-wrap class="boarding-dropoff-container">
            <div flex="100" class="bold-text">Boarding point</div>
            <div flex="100" class="boarding-dropoff">
              #59Eoz, St. Paster (51), Sangkat Phsar Thmei 3, Khan Doun Penh, Phnom Penh City, Kingdom of Cambodia.
            </div>
            <div flex="100" class="boarding-dropoff">
              <a ng-click="selectRouteCtrl.showMap()">
                <ng-md-icon icon="location_on" class="boarding-dropoff-icon"></ng-md-icon> View on map
              </a>
            </div>
          </div>

          <div flex></div>

          <div flex="30" layout="row" layout-wrap class="boarding-dropoff-container">
            <div flex="100" class="bold-text">Drop-off point</div>
            <div flex="100" class="boarding-dropoff">
              National Road No.6, Phum Chong Kaosou, S.K Srokram, Siem Reap, Kingdom of Cambodia (Next to Lucky Angkor Hotel)
            </div>
            <div flex="100" class="boarding-dropoff">
              <a ng-click="selectRouteCtrl.showMap()">
                <ng-md-icon icon="location_on" class="boarding-dropoff-icon"></ng-md-icon> View on map
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="detail-title">
        <h4>Amenities</h4>
      </div>

      <div layout="row" class="amenities-container">
        <div flex="20" layout="column" class="amenities-inline-block">
          <ng-md-icon icon="wifi"></ng-md-icon>
          <p class="amenity-label">Wifi</p>
        </div>
        <div flex="20" layout="column" class="amenities-inline-block">
          <ng-md-icon icon="local_drink"></ng-md-icon>
          <p class="amenity-label">Water</p>
        </div>
        <div flex="20" layout="column" class="amenities-inline-block">
          <ng-md-icon icon="power"></ng-md-icon>
          <p class="amenity-label">Charger</p>
        </div>
        <div flex="20" layout="column" class="amenities-inline-block">
          <ng-md-icon icon="wc"></ng-md-icon>
          <p class="amenity-label">WC</p>
        </div>
        <div flex="20" layout="column" class="amenities-inline-block">
          <ng-md-icon icon="ac_unit"></ng-md-icon>
          <p class="amenity-label">AC</p>
        </div>
      </div>

      <div class="detail-title">
        <h4>Cancellation policy</h4>
      </div>

      <div class="cancellation-container">
        <p class="md-body-1">Non refundable for tickets sold. In case of changing of departure, passengers must inform company in working time 4 hours before the bus departures.</p>
      </div>

      <div layout-wrap class="detail-title">
        <h4>Notice</h4>
      </div>

      <div class="notice-container">
        <p class="md-body-1">Passengers have to attend to bus terminal 20 minutes before departure time.</p>
      </div>
    </md-content>
  </div>

</div>