form{
  margin: 0 auto;
  padding-left:20px;
  padding-right:20px;
  padding-top: 15px;
 /* .background: url('../../img/destinations/register_background.jpg') center center;*/
  height:100%;
  width:100%;
  color: #E51C87 ;
}
.boxform{
  background-color:rgba(163, 226, 171, 0.32) !important;
  padding: 25px !important;
  margin-right: 50px;
}
.icon_register{
  margin-right:25px;
}
.text_label_register{
  font-size:15px;
  color:green !important;
}
.button_register{
  margin: 0 auto;
  background:none;
  padding-left:20px;
  padding-right: 20px;
}
.text_register_h6{
  margin: 0 auto;
  color: black;
  margin-top:10px;
  text-align:center;
  padding:0px;
}
.text_register_a{
  color: green;
  text-decoration: none;
}
 .md-facebook{
  width: 100%;
  background-color: rgb(68,138,255) !important;
  border-radius: 20px !important;
  color:white !important;
  text-transform:none !important;
}
.md-facebook:hover{
  background-color: rgb(68,138,255) !important;
  border-radius: 20px !important;
  color:white !important;
}
.md-signin{
  background-color: #85CFD6 !important;
  border-radius:20px !important;
  color: white !important;
  text-transform: none !important;
  width: 100%;
}
.md-register{
  width: 100%;
  background-color: rgb(15, 155, 11) !important;
  text-transform: none !important; 
  color: white ! important;
}
.md-signin:hover{
  background-color: #85CFD6 !important;
  border-radius:20px !important;
  color: white !important;
  text-transform: none !important;
}
md-input-container .md-input{
  border-color: #524D4D !important;
  color: black !important;
}
md-input-container .md-input:hover{
  border-color: green !important;
  color: black !important;
}
.boxform{
  background-color:rgba(210, 208, 208, 0.32);
  padding: 5px;
}

.font-size-i{
  margin-right: 20px;
  font-size: 20px;
}

.bg_color{
  background-color: blue;
  text-align: center;
  height: 400px
}
.signup{
  background-color: white !important;
  height: 50px !important;
  font-size: 20px !important;
  color: blue !important;
  width: 35% !important;
  border-radius: 15px !important;
}
.signup:hover{
  background-color: white !important;
  height: 50px !important;
  font-size: 20px !important;
  color: blue !important;
  width: 35% !important;
  border-radius: 15px !important;
}
.topbutton{
  margin-top: 100px !important;
}
.img1{
  margin-top: 30px
}
.md_container {
  margin: 10px 0 !important;
}
.tag_a{
  text-decoration: none;
  color: white;
}