.title-bg-margin{
  background: #ECECEC;
  padding: 15px;
  margin-top: -1px;
}
.text-margin-top{
  margin-top: 5px;
}
.text-margin-left{
  margin-left: 15px;
  padding-bottom: 15px;
}
.request-ticket-input{
  width: 100%;
  height: 35px;
}
.promotional-code-container{
  margin-top: 30px;
}
.info-container{
  margin-top: -15px;
  margin-left: 5px;
}