<div ng-controller="SignUpController as signUpCtrl">
  <md-content>
    <form name="signUpForm" role="form" class="signUpForm">
      <div id="signup-input-background">
        <md-input-container class="signup-input-container">
          <input type="email" class="signup-input" aria-label="Email" ng-model="signUpCtrl.user.email" required>
          <label class="signUpLabel">Enter your email address</label>
        </md-input-container>

        <md-input-container class="signup-input-container">
          <input type="text" international-phone-number default-country="kh" class="signup-input"
                 ng-model="signUpCtrl.user.mobile_phone" aria-label="Mobile Phone" required>
        </md-input-container>

        <md-input-container class="signup-input-container">
          <input type="password" class="signup-input" ng-model="signUpCtrl.user.password"
                 aria-label="User Password" required ng-minlength="8" ng-maxlength="20">
          <label class="signUpLabel">Password</label>

        </md-input-container>
      </div>
      <div layout="column">
        <md-button ng-click='signUpCtrl.signup()' class="md-raised md-primary boldText whiteText" >Register</md-button>
      </div>
    </form>

    <div layout="column" class="signin-signup-bottom-button">
      <md-button id="btnSignUpViaFb" class="md-raised whiteText boldText">
        <ng-md-icon icon="facebook-box" id="fbSignUpIcon"></ng-md-icon> Register with Facebook
      </md-button>
      <a ui-sref="sign_in" class="tag_a">
        <md-button id="btnLinkToSignIn" class="md-raised whiteText boldText">Sign in</md-button>
      </a>
    </div>
  </md-content>
</div>
