<div ng-controller="SignUpController as signUpCtrl">
  <md-content>
    <form name="signUpForm" ng-submit="signUpCtrl.signup()" role="form" class="signUpForm">
      <div id="signup-input-background">
        <md-input-container class="signup-input-container">
          <input type="email" class="signup-input" name="userEmail" aria-label="userEmail" ng-model="signUpCtrl.userEmail" required>
          <label class="signUpLabel">Enter your email address</label>
        </md-input-container>

        <md-input-container class="signup-input-container">
          <input class="signup-input" name="userName" aria-label="userName" ng-model="signUpCtrl.userName" required>
          <label class="signUpLabel">Enter user name</label>
        </md-input-container>

        <md-input-container class="signup-input-container">
          <input type="text" international-phone-number default-country="kh" ng-model="signUpCtrl.userMobile" aria-label="userMobile"
          class="signup-input" name="userMobile" required>
        </md-input-container>

        <md-input-container class="signup-input-container">
          <input type="password" class="signup-input" ng-model="signUpCtrl.userPassword" aria-label="userPassword" name="userPassword" required ng-minlength="8" ng-maxlength="20">
          <label class="signUpLabel">Password</label>
        </md-input-container>
      </div>
      <div layout="column">
        <md-button type="" class="md-raised md-primary boldText whiteText" id="btnRegister">Register</md-button>
      </div>
    </form>

    <div layout="column" class="signin-signup-bottom-button">
      <md-button id="btnSignUpViaFb" class="md-raised whiteText boldText">
        <ng-md-icon icon="facebook-box" id="fbSignUpIcon"></ng-md-icon> Register with Facebook
      </md-button>
      <a ui-sref="sign_in" class="tag_a">
        <md-button id="btnLinkToSignIn" class="md-raised whiteText boldText">Sign in</md-button>
      </a>
    </div>
  </md-content>
</div>
