<div ng-controller="SignUpController as signUpCtrl">
  <md-content>
    <form name="signUpForm" role="form" class="signUpForm">
      <div class="signup-input-background">

        <div>
          <md-tooltip md-visible="signUpCtrl.showToolTip" md-direction="top" class="fbSignUpMessage">
            Please fill in other fields to complete your registration!
          </md-tooltip>
        </div>

        <md-input-container class="signup-input-container">
          <input ng-model="signUpCtrl.user.email" type="email" class="signup-input" name="email" aria-label="Email" required>
          <label class="signUpLabel">Enter your email address</label>
          <span class="error" ng-show="signUpCtrl.fieldError('email')">
            {{ signUpCtrl.fieldError('email') }}
          </span>


        </md-input-container>

        <md-input-container class="signup-input-container">
          <input ng-model="signUpCtrl.user.mobile_phone" type="text" international-phone-number default-country="kh" 
                 class="signup-input" name="mobile" aria-label="Mobile Phone" required >
        </md-input-container>

        <md-input-container class="signup-input-container">
          <input ng-model="signUpCtrl.user.password" type="password" class="signup-input" name="password"
                 aria-label="User Password" required >
          <label class="signUpLabel">Password</label>
          <span class="error" ng-show="signUpCtrl.fieldError('password')">
            {{ signUpCtrl.fieldError('password') }}
          </span>

        </md-input-container>

      </div>
      <div layout="column">
        <md-button ng-click='signUpCtrl.signup()' class="md-raised md-primary boldText whiteText square-border" >Register</md-button>
      </div>
    </form>

    <div layout="column" class="signup-bottom-button">
      <md-button ng-hide="signUpCtrl.fbConnected()" class="md-raised whiteText boldText btnSignUpViaFb square-border"
                 ng-click="signUpCtrl.signupFb()">
        <ng-md-icon icon="facebook-box" class="fbIcon"></ng-md-icon> Register with Facebook
      </md-button>

      <div class="signin-signup-link">
        Already member? 
        <a ui-sref="sign_in" class="tag_a">
          Sign in
        </a>
      </div>
    </div>
  </md-content>
</div>
