<div ng-controller="RegistrationController as registrationCtrl" flex layout="row" class="signup-container">
  <md-content flex class="animated fadeInDown signup-content">
    <md-card flex="35" class="signup-logo-container">
        <img ng-src="img/bookme-app-logo-shadow@100x100.png">
    </md-card>

    <form name="signUpForm" role="form" class="signup-form">
      <div layout="row" layout-wrap>
        <div flex="100">
          <md-input-container class="signup-input-container">
            <input ng-model="registrationCtrl.user.email" type="email" class="signup-input" name="email" aria-label="Email" required>
            <label class="signup-input-placeholder-style">Enter your email address</label>
            <span class="error" ng-show="registrationCtrl.fieldError('email')">
              {{ registrationCtrl.fieldError('email') }}
            </span>
          </md-input-container>
        </div>

        <div flex="100">
          <md-input-container class="signup-input-container">
            <input ng-model="registrationCtrl.user.mobile_phone" type="text" international-phone-number default-country="kh"
                   class="signup-input" name="mobile" aria-label="Mobile Phone" required >
          </md-input-container>
        </div>

        <div flex="100">
          <md-input-container class="signup-input-container">
            <input ng-model="registrationCtrl.user.password" type="password" class="signup-input" name="password"
                   aria-label="User Password" required >
            <label class="signup-input-placeholder-style">Password</label>
            <span class="error" ng-show="registrationCtrl.fieldError('password')">
              {{ registrationCtrl.fieldError('password') }}
            </span>
          </md-input-container>
        </div>

        <div flex="100" class="signup-button-container">
          <md-button ng-click="registrationCtrl.signup()"
                     class="md-raised md-primary md-hue-2 bold-text white-text square-border button-style button-signup-style">
            Register
          </md-button>

          <md-button ng-hide="registrationCtrl.fbConnected()" ng-click="registrationCtrl.signupFb()"
                     class="md-raised white-text bold-text square-border button-style button-signup-fb-style">
            <ng-md-icon icon="facebook-box" class="fbIcon"></ng-md-icon> Register with Facebook
          </md-button>

          <div>
            <p>Already member? <a ui-sref="sign_in" class="white-text">Sign in</a></p>
          </div>
        </div>
      </div>
    </form>
  </md-content>
</div>
