<div  ng-controller="PassengerDetailController as passengerDetailCtrl" layout="column" layout-fill>
  <md-toolbar >
    <div class="md-toolbar-tools toolbar-background">
      <a ui-sref="select_seat" class="toolbar-back-button">
        <ng-md-icon icon="chevron_left" size="35px" class="white-text"></ng-md-icon>
      </a>
      <div class="white-text bold-text toolbar-title">
      Passenger Details
      </div>
      <span flex></span>
      <a ui-sref="" class="white-text bold-text toolbar-title">Next</a>
    </div>
  </md-toolbar>

  <md-content flex class="seat-layout-container">
    <md-subheader class="price-info-container" ng-click="passengerDetailCtrl.showListBottomSheet()">
      <span class="whiteText bold-text text-color" ng-model="passengerDetailCtrl.totalPrice">
        {{ passengerDetailCtrl.totalPrice | currency:"USD " }}
      </span>
      <ng-md-icon icon="info_outline" class="price-icon"></ng-md-icon>
    </md-subheader>
      <div layout="row" layout-wrap layout-align="center center" class="passenger-info-form">
        <div flex="100" >
          <div class="passenger-seat-label bold-text">Seat: A1</div>
          <div class="passenger-input-container white-background bg-color">
            <form name="passengerForm">
              <md-input-container class="passenger-info-input">
                <label>Nationality</label>
                <md-select ng-model="passengerNationality" required>
                  <md-option ng-value="nat.value" ng-repeat="nat in passengerDetailCtrl.nationalities">{{ nat.label }}</md-option>
                </md-select>
                <span ng-show="passengerForm.passengerNationality.$touched && passengerForm.passengerNationality.$error.required"
                      class="validation-text">
                  This field is required!
                </span>
              </md-input-container>
              <md-input-container class="passenger-info-input">
                <input type="text" international-phone-number default-country="kh" ng-model="passengerMobile" name="passengerMobile" required  aria-label="passengerMobile">
                <span ng-show="passengerForm.passengerMobile.$touched && passengerForm.passengerMobile.$error.required"
                      class="validation-text">
                  This field is required! 
                </span>
                <span ng-show="passengerForm.passengerMobile.$touched && passengerForm.passengerMobile.$invalid"
                      class="validation-text">
                  Invalid mobile number
                </span>
              </md-input-container>
              <md-input-container class="passenger-info-input">
                <label>Email</label>
                <input type="email" name="passengerEmail" ng-model="passengerEmail" />
              </md-input-container>
            </form>

            <md-switch ng-model="data.pickup" ng-change="passengerDetailCtrl.pickUpSwitchChange(data.pickup)">
              Pick up
            </md-switch>

            <div class="pickup-info-container" ng-show="passengerDetailCtrl.isPickUp">
              <form name="pickupForm">
                <md-input-container class="passenger-info-input">
                  <label>Name</label>
                  <input type="text" ng-model="passengerDetailCtrl.name" ng-model="passengerName"/>
                </md-input-container>
                <md-input-container class="passenger-info-input">
                  <label>Gender</label>
                  <md-select ng-model="passengerDetailCtrl.passengerGender" name="passengerGender">
                    <md-option ng-value="gen" ng-repeat="gen in passengerDetailCtrl.genders">{{ gen }}</md-option>
                  </md-select>
                </md-input-container>
                <md-input-container class="passenger-info-input">
                  <label>Address</label>
                  <input type="text" name="passengerAddress" ng-model="passengerDetailCtrl.address" />
                </md-input-container>
                <md-input-container class="passenger-info-input">
                  <label>Note</label>
                  <input type="text" ng-model="passengerDetailCtrl.note"/>
                </md-input-container>
                <md-checkbox ng-model="passengerDetailCtrl.isChecked" class="md-primary pickup-term-condition">
                  I have read and agree to the <a href="#">terms and conditions</a> of BOOKMEBUS.COM
                </md-checkbox>
              </form>
            </div>
          </div>
        </div>
      </div>
  </md-content>
</div>