<div ng-controller="SignInController as signInCtrl">
  <md-content>
    <form name="signInForm" role="form" class="signInForm">
      <div class="signin-input-background">
        <div style="width: 100%;padding: 10px 0 0;text-transform: uppercase;">
          <span ng-show="signInCtrl.hasError()" class="error">
            <ng-md-icon icon="error"></ng-md-icon>
            <span style="padding-left: 5px;">Invalid email/password</span>
          </span>
        </div>
        <md-input-container class="signin-input-container">
          <input ng-model="signInCtrl.user.username" type="email" class="signin-input" aria-label="signin-username">
          <label>Enter your username</label>
        </md-input-container>

        <md-input-container flex="100" class="signin-input-container">
           <input ng-model="signInCtrl.user.password" type="password" class="signin-input" aria-label="signin-password">
           <label>Enter your Password</label>
        </md-input-container>
      </div>

      <div layout="column">
        <md-button ng-click="signInCtrl.signin()" class="md-raised md-primary boldText whiteText square-border btnSignIn">
          LOGIN
        </md-button>
      </div>
    </form>

    <div layout="column" class="signin-bottom-button">
      <md-button ng-click="signInCtrl.signInFb()" class="md-raised whiteText boldText square-border btnSignInViaFb">
        <ng-md-icon icon="facebook-box" class="fbIcon"></ng-md-icon> Sign in via Facebook
      </md-button>
      <div class="signin-signup-link">Not here before? 
        <a ui-sref="sign_up">Sign Up</a>
      </div>
    </div>
  </md-content>
</div>
