.signUpForm{
  background: url('../../img/destinations/cambodia_island.JPG') no-repeat;
  background-size: cover;
  padding: 10px 24px 35px 24px;
}

.signup-input-background{
  width: auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 0px 20px 20px 20px;
  margin-bottom: 15px;
  margin-top: 27px;
}

.signup-input-container{
  height: 30px;
  width: 100%;
}

.signup-input{
  border-color: #333 !important;
}

.signUpLabel{
  font-size: 15px;
  color: #333;
}

.btnSignUpViaFb{
  background-color: #3D5B99 !important;
  width: 100%;
}

.signUpNotice{
  color: black;
  margin-top: 10px;
  text-align: center;
  line-height: 15px;
}

.intl-tel-input{
  width: 100%;
}

.signup-bottom-button{
  margin-top: 30px;
  padding-left:24px;
  padding-right: 40px;
  text-align: center;
}

.fbSignUpMessage{
  font-size: 12px;
  margin: 0 auto;
}

.signin-link{
  margin-top: 10px;
  font-size: 15px;
  padding-bottom: 15px;
}