.signup-container{
  background-color: #03A9F4;
}

.signup-content{
  background: transparent;
  text-align: center;
  padding: 15px 0px 0px 0px;
}

.signup-logo-container{
  background: transparent;
  margin: 0 auto !important;
}

.signup-form{
  margin-top: 15px;
}

.signup-input-container, .button-signup-style, .button-signup-fb-style{
  width: 75%;
}

.signup-input-container{
  height: 25px;
}

.signup-input{
  border-color: white !important;
  color: white !important;
  font-size: 18px;
}

.signup-input-placeholder-style{
  font-size: 18px;
  color: white !important;
}

.signup-button-container{
  bottom: 0px;
  right: 0px;
  left: 0px;
}

.button-signup-fb-style{
  background-color: #3D5B99 !important;
  font-size: 13px;
  margin-top: 40px;
}

.signUpNotice{
  color: black;
  margin-top: 10px;
  text-align: center;
  line-height: 15px;
}

.intl-tel-input{
  width: 100%;
}