.operator-icon{
  width: 100%;
  height: 100%;
}

.operator-name-container{
  border-bottom: 1px solid #ECECEC;
  margin-bottom: 0px !important;
  padding-bottom: 20px;
  padding-left: 20px;
}

.operator-name{
  color: black !important;
  font-weight: bold !important;
}

.operator-rate{
  margin-left: -6px !important;
}

.operator-rate-icon{
  width: 15px;
}