.white-text{
  color: white !important;
}

.bold-text{
  font-weight: bold;
}

.validation-text{
  color: red;
}

.fbIcon{
  margin-right: 15px;
}

.square-border{
  border-radius: 0px;
}

.error{
  color: red;
  font-size: 90%;
}

.dark-text{
  color: #333;
}

.toolbar-back-button{
  margin-left: -10px;
  margin-right: 15px;
  margin-top: -12px;
}
