.white-text{
  color: white !important;
}

.bold-text{
  font-weight: bold;
}

.validation-text{
  color: red;
}

.fbIcon{
  margin-right: 15px;
}

.square-border{
  border-radius: 0px;
}

.signin-signup-link{
  margin-top: 10px;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 15px;
}

.error{
  color: red;
  font-size: 90%;
}

.dark-text{
  color: #333;
}
