<div ng-controller="ForgetPasswordController as forgetPasswordCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools toolbar-top">
      <a ui-sref="sign_in" class="toolbar-back-button">
        <ng-md-icon icon="chevron_left" size="35px" class="white-text"></ng-md-icon>
      </a>
      <div class="white-text">
        Recover Password
      </div>
    </div>
  </md-toolbar>

  <md-content class="reset-password-container">

    <p ng-hide='forgetPasswordCtrl.requestSuccess' class="reset-password-instruction">
      Enter your email below and we will send you instruction to reset your password
    </p>

    <form class="reset-password-form">
      <div class="av-flash"> </div>

      <div ng-show='forgetPasswordCtrl.requestSuccess'>
        <p>
            Please follow the instruction in the email.
            If you leave this email untouch.
            Your password won't be changed.
        </p>

        <p> It might take a up to a few minutes to deliver the email </p>

        <p> <a ui-sref='sign_in'> Go to Login page </a> </p>
      </div>

      <div ng-hide="forgetPasswordCtrl.requestSuccess">
        <md-input-container class="reset-password-input">
          <input ng-model="forgetPasswordCtrl.email"
                 class="av-flash-reset reset-password-email-input text-box-style"
                 type="email" aria-label="email"/>
          <label class="text-box-style">Enter your email here</label>
        </md-input-container>

        <md-button ng-click="forgetPasswordCtrl.create()"
                   class="md-raised md-primary md-hue-2 white-text bold-text square-border button-style reset-password-send-button">
          Send
        </md-button>
      </div>

    </form>
  </md-content>
</div>
