<div layout="column" layout-fill ng-controller="RequestTicketController as requestTicketCtrl">
  <md-toolbar>
    <div class="md-toolbar-tools toolbar-background" scroll>
      <a ui-sref="ticket_search" class="toolbar-back-button">
        <ng-md-icon icon="chevron_left" size="35px" class="white-text"></ng-md-icon>
      </a>
      <div class="white-text bold-text toolbar-title">
      Request Ticket
      </div>
      <span flex></span>
      <a ui-sref="#!" ng-click="passengerDetailCtrl.tripSummaryNext()" class="white-text bold-text toolbar-title">Checkout</a>
    </div>
  </md-toolbar>

  <md-content flex layout-wrap class="request-ticket-container">
    <md-subheader class="price-info-container" ng-click="requestTicketCtrl.showListBottomSheet()">
      <span class="whiteText bold-text text-color" ng-model="passengerDetailCtrl.totalPrice" >
        {{ requestTicketCtrl.subTotal | currency:"USD " }}
      </span>
      <ng-md-icon icon="info_outline" class="price-icon"></ng-md-icon>
    </md-subheader>
    <selected-route-detail selected-route="requestTicketCtrl.selectedRouteInfo"></selected-route-detail>
    <div layout="row" layout-wrap layout-align="center center" layout-margin class="request-ticket-content">
      <div flex="100">
        <div class="md-whiteframe-1dp request-ticket-pickup-notice">
          <span><b class="notice-text">Notice!</b> This operator requires a pre-check for seat availability. Please leave us your information below and proceed with the payment. Our operation team will contact you back in no longer than 15 minutes with the best option.</span>
        </div>
        <form name="requestTicketForm" class="requestTicketForm">
          <md-input-container class="request-ticket-input">
            <label>Number of passengers</label>
            <input type="text" number-only ng-model="passengerNumber" name="passengerNumber" required />
            <span ng-show="requestTicketForm.passengerNumber.$touched && requestTicketForm.passengerNumber.$error.required" class="validation-text">
              This field is required.
            </span>
          </md-input-container>
          <md-input-container class="request-ticket-input">
            <input type="text" international-phone-number default-country="kh" ng-model="passengerMobile" name="passengerMobile" aria-label="passengerMobile">
            <span ng-show="requestTicketForm.passengerMobile.$touched && requestTicketForm.passengerMobile.$invalid"
                  class="validation-text">
              Invalid mobile number
            </span>
          </md-input-container>
          <md-input-container class="request-ticket-input">
            <label>Email</label>
            <input type="email" ng-model="passengerEmail" name="passengerEmail" />
            <span ng-show="requestTicketForm.passengerEmail.$touched && requestTicketForm.passengerEmail.$error.email"
                  class="validation-text">
              Invalid email address.
            </span>
          </md-input-container>
          <md-input-container class="request-ticket-input">
            <label>Nationality</label>
            <md-select ng-model="passengerNationality" name="passengerNationality" required>
              <md-option ng-value="nat.value" ng-repeat="nat in requestTicketCtrl.nationalities" ng-selected="$first">
                {{ nat.label }}
              </md-option>
            </md-select>
            <span ng-show="requestTicketForm.passengerNationality.$touched && requestTicketForm.passengerNationality.$error.required" class="validation-text">
              This field is required.
            </span>
          </md-input-container>
        </form>
        <md-switch ng-model="pickup"
                   ng-change="requestTicketCtrl.pickUpSwitchChange(pickup)">
          Pick up
        </md-switch>
        <div ng-show="requestTicketCtrl.isPickUp">
          <form name="pickupForm">
            <md-input-container class="request-ticket-input">
              <label>Name</label>
              <input type="text" ng-model="requestTicketCtrl.name" name="passengerName" />
            </md-input-container>
            <md-input-container class="request-ticket-input">
              <label>Gender</label>
              <md-select ng-model="requestTicketCtrl.passengerGender" name="passengerGender">
                <md-option ng-value="gen" ng-repeat="gen in requestTicketCtrl.genders">{{ gen }}</md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="request-ticket-input">
              <label>Address</label>
              <input type="text" name="passengerAddress" ng-model="requestTicketCtrl.address"/>
            </md-input-container>
            <md-input-container class="request-ticket-input">
              <label>Note</label>
              <input type="text" ng-model="requestTicketCtrl.note">
            </md-input-container>
            <div class="md-whiteframe-1dp request-ticket-pickup-notice">
              <span><b class="notice-text">Notice!</b> Thero Express only provides its free pickup service to some major hotels. You will receive an email from our team if your pickup request is rejected. <a href="#">Read more!</a></span>
            </div>
          </form>
        </div>
          <md-input-container class="request-ticket-input promotional-code-container">
            <label><ng-md-icon icon="local_offer"></ng-md-icon> Promotional Code</label>
            <input type="text" />
          </md-input-container>
      </div>
    </div>
  </md-content>
</div>