.seat-layout-container{
  background-color: #ECECEC;
  height: 100%;
}

.passenger-input-container, .passenger-seat-label{
  padding: 15px;
}

.passenger-info-input{
  height: 20px;
  width: 100%;
}

.pickup-info-container{
  width: 100%;
}

#chkPickUp{
  width: 100px;
}

.pickup-term-condition{
  margin-top: 25px;
  font-size: 15px;
}

.passenger-bottom-button{
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.passenger-next-container{
  background-color: rgb(0, 153, 1);
}

#btnPassengerInfoNext{
  width: 100%;
  margin: 0px;
  height: 50px;
  font-size: 18px;
}

#bottom-sheet-price-info-title{
  margin-top: -25px;
}

#bottom-sheet-list{
   margin-top: -30px;
}

#bottom-sheet-cambodian-price, #bottom-sheet-non-cambodian-price{
  font-size: 14px;
}

#bottom-sheet-cambodian-price{
  margin-right: 50px;
}

#bottom-sheet-non-cambodian-price{
  margin-right: 19px;
}

.intl-tel-input{
  width: 100%;
}
.text-wgite{
  color: white !important;
}
.price-info-container{
  background: #333;
}
.text-color{
  color: white !important;
}
.price-icon{
  color: white !important;
  float: right;
  margin-top: -5px;
}
.bg-color{
  background: white !important;
}
