.signin-container{
  background-color: #03A9F4;
}

.signin-content{
  background: transparent;
  text-align: center;
  padding: 15px 0px 0px 0px;
}

.signin-logo-container{
  background: transparent;
  margin: 0 auto !important;
}

.signin-form{
  margin-top: 15px;
}

.signin-input-placeholder-style{
  font-size: 18px;
  color: white !important;
}

.signin-input{
  border-color: white !important;
  color: white !important;
}

.signin-password-container{
  margin-top: -15px !important;
}

.signin-button-container{
  bottom: 0px;
  right: 0px;
  left: 0px;
  margin-top: -15px;
}

.signin-input-container, .button-signin-style, .button-signin-fb-style{
  width: 75%;
}

#signInWithFacebook{
  text-align: center;
}

.button-signin-fb-style{
  background-color: #3D5B99 !important;
  margin-top: 40px;
}

.forget-password-link{
  margin-top: 10px;
}